.search_box[data-v-0544793f] {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    margin-top: 5px;
    max-width: 800px
}

.search_box>input[data-v-0544793f] {
    width: 80%;
    text-indent: 1.5em;
    border-radius: 10px;
    color: #000;
    height: 1.25rem;
    margin-right: 2px;
    box-sizing: content-box
}

.search_box>div[data-v-0544793f] {
    margin-top: -3px
}

.header_page[data-v-49759819] {
    width: 100%;
    position: fixed;
    top: 0;
    max-width: 800px;
    z-index: 1
}

.header_page .header[data-v-49759819] {
    width: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    height: 3.5rem;
    line-height: 3.5rem;
    box-sizing: border-box;
    align-items: center;
    padding: 0 1rem
}

.header_page .header .menu[data-v-49759819] {
    line-height: 4.7rem
}

.header_page .header .search[data-v-49759819] {
    width: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end
}

.header_page .header .title[data-v-49759819] {
    font-weight: 700
}

.header_page .search_box[data-v-49759819] {
    position: fixed
}

.type_item[data-v-49759819] {
    color: #000;
    box-sizing: border-box;
    width: 100%;
    height: 2.4rem;
    padding: .267rem 0;
    line-height: 2.4rem;
    padding-left: .8em
}

.type_item>div[data-v-49759819],
.type_item[data-v-49759819] {
    display: flex;
    align-items: center
}

.type_item[data-v-49759819]:active {
    background: #f5f5f5;
    color: #080808
}

.item_name[data-v-49759819] {
    margin-left: 10px;
    font-size: .68rem
}

.home_footer_ad[data-v-11b306da] {
    max-width: 800px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #fff
}

.game_bottom_ad[data-v-11b306da],
.home_footer_ad[data-v-11b306da] {
    width: 100%;
    height: 50px;
    margin: 0 auto
}

.game_show_box[data-v-11b306da] {
    margin: 0 auto
}

.game_show_box>div[data-v-11b306da] {
    text-align: center;
    font-size: .5rem
}

.top_game[data-v-a3f37ad2] {
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    grid-column-gap: 1.31rem;
    grid-row-gap: 2rem;
    padding-bottom: 2rem
}

.top_game .game_item[data-v-a3f37ad2] {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    border: 1px solid #fff
}

.top_game .game_item img[data-v-a3f37ad2] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.top_game .game_item span[data-v-a3f37ad2] {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: .7rem;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.title[data-v-3767e373] {
    margin: 5px;
    font-weight: 900;
    font-size: .85rem;
    overflow: hidden
}

.title>span[data-v-3767e373] {
    float: left;
    margin-right: 5px;
    margin-top: 2px
}

.title[data-v-63a5741b] {
    margin: .533rem auto;
    font-weight: 900;
    font-size: 14px;
    height: 1.45rem;
    width: 85%;
    position: relative;
    color: #fff;
    line-height: 1.45rem;
    padding: 0 1rem;
    border-radius: 1.45rem;
    border-left: 3px solid #080808
}

.title>div[data-v-63a5741b],
.title[data-v-63a5741b] {
    display: flex;
    justify-content: space-between
}

.title>div>span[data-v-63a5741b] {
    margin-right: 5px;
    margin-top: 2px
}

.title_after[data-v-63a5741b],
.title_before[data-v-63a5741b] {
    content: " ";
    width: 1.45rem;
    height: 1.45rem;
    position: absolute;
    top: 0;
    border: 1px solid #54d4fb;
    border-right: 0;
    border-top: 0;
    right: -15px;
    transform: rotate(-135deg)
}

.title_before[data-v-63a5741b] {
    left: -.75rem;
    transform: rotate(45deg)
}

.title[data-v-943b9710] {
    margin: .533rem auto;
    font-weight: 900;
    font-size: .747rem;
    position: relative;
    color: #fff;
    height: 1.25rem;
    line-height: 1.25rem;
    padding: 0 .5rem;
    border-radius: 1.45rem;
    border-left: 3px solid #080808
}

.title>div[data-v-943b9710],
.title[data-v-943b9710] {
    display: flex;
    justify-content: space-between
}

.title>div>span[data-v-943b9710] {
    margin-right: 5px;
    margin-top: 2px
}

.title_after[data-v-943b9710],
.title_before[data-v-943b9710] {
    content: " ";
    width: .7rem;
    height: 1.45rem;
    position: absolute;
    top: 5px;
    border: 1px solid #54d4fb;
    border-right: 0;
    border-top: 0;
    right: -15px;
    transform: rotate(-135deg)
}

.title_before[data-v-943b9710] {
    left: -15px;
    transform: rotate(45deg)
}

.title[data-v-9f35d832] {
    margin: 5px;
    font-weight: 900;
    font-size: .85rem;
    overflow: hidden
}

.title>span[data-v-9f35d832] {
    float: left;
    margin-right: 5px;
    margin-top: 2px
}

.title>img[data-v-9f35d832] {
    margin-left: 5px;
    margin-top: 3px
}

.top_game[data-v-5924636a] {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: .5rem;
    overflow-x: auto;
}

.top_game .game_item[data-v-5924636a] {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    border: 1px solid #fff;
    margin-right: 1rem;
}

.top_game .game_item img[data-v-5924636a] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.top_game .game_item span[data-v-5924636a] {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: .7rem;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.container-list[data-v-f03cdd90] {
    position: relative;
    margin-top: .5rem
}

.swiper-page[data-v-f03cdd90] {
    width: 100%;
    padding: 0;
    box-sizing: border-box
}

.swiper-page .swiper-container[data-v-f03cdd90] {
    width: 100%;
    height: 5.2rem;
    border-radius: 5px
}

.game_item[data-v-f03cdd90] {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    border: 1px solid #fff
}

.game_item img[data-v-f03cdd90] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.game_item span[data-v-f03cdd90] {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: .7rem;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

[data-v-f03cdd90] .swiper-container,
[data-v-f03cdd90] .swiper-wrapper {
    z-index: unset !important
}

.swiper-pagination1[data-v-f03cdd90] {
    text-align: center;
    margin: 0
}

.swiper-pagination1[data-v-f03cdd90] .swiper-pagination-bullet {
    width: 25px;
    height: 5px;
    background: rgba(31, 31, 31, .4) 100%;
    background-size: 100% 100%;
    border-radius: .3125rem
}

.swiper-button-next1[data-v-f03cdd90] {
    right: -33px
}

.swiper-button-next1[data-v-f03cdd90],
.swiper-button-prev1[data-v-f03cdd90] {
    width: 30px;
    height: 30px;
    background: red no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: calc(50% - 25px);
    cursor: pointer
}

.swiper-button-prev1[data-v-f03cdd90] {
    left: -33px
}

.mid_game .three_column[data-v-76945e4b],
.mid_game .two_column[data-v-76945e4b] {
    box-sizing: border-box;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between
}

.mid_game .three_column .game_item[data-v-76945e4b],
.mid_game .two_column .game_item[data-v-76945e4b] {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 1rem;
    margin-bottom: 1rem
}

.mid_game .three_column .game_item img[data-v-76945e4b],
.mid_game .two_column .game_item img[data-v-76945e4b] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.mid_game .two_column[data-v-76945e4b] {
    box-sizing: border-box;
    padding: .75rem 0
}

.mid_game .two_column .left_big img[data-v-76945e4b] {
    display: block;
    width: 11.55rem;
    height: 11.55rem;
    border-radius: 2rem;
    border: 1px solid #fff
}

.mid_game .two_column>.game_item[data-v-76945e4b] {
    display: flex;
    height: 11.25rem;
    flex-direction: column;
    justify-content: space-between
}

.mid_game .two_column>.game_item img[data-v-76945e4b] {
    display: block;
    width: 4.875rem;
    height: 4.875rem
}

.game_item span[data-v-76945e4b],
.left_big span[data-v-76945e4b] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.over_game[data-v-76945e4b] {
    display: flex;
    flex-direction: column
}

.over_game span[data-v-76945e4b] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.title[data-v-2c17713e] {
    overflow: hidden;
    margin: 5px;
    font-weight: 900;
    text-shadow: .1rem 0 rgba(176, 174, 174, .83);
    font-size: .85rem
}

.title>span[data-v-2c17713e] {
    float: left;
    margin-right: 5px;
    margin-top: 2px
}

.mid_game .three_column[data-v-2c17713e],
.mid_game .two_column[data-v-2c17713e] {
    box-sizing: border-box;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between
}

.mid_game .three_column .game_item[data-v-2c17713e],
.mid_game .two_column .game_item[data-v-2c17713e] {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 1rem;
    margin-bottom: 1rem
}

.mid_game .three_column .game_item img[data-v-2c17713e],
.mid_game .two_column .game_item img[data-v-2c17713e] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.mid_game .two_column[data-v-2c17713e] {
    box-sizing: border-box;
    padding: .75rem 0
}

.mid_game .two_column .left_big img[data-v-2c17713e] {
    display: block;
    width: 11.55rem;
    height: 11.55rem;
    border-radius: 2rem;
    border: 1px solid #fff
}

.mid_game .two_column>.game_item[data-v-2c17713e] {
    display: flex;
    height: 11.25rem;
    flex-direction: column;
    justify-content: space-between
}

.mid_game .two_column>.game_item img[data-v-2c17713e] {
    display: block;
    width: 4.875rem;
    height: 4.875rem
}

.game_item span[data-v-2c17713e],
.left_big span[data-v-2c17713e] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.over_game[data-v-2c17713e] {
    display: flex;
    flex-direction: column
}

.over_game span[data-v-2c17713e] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mid_game .three_column[data-v-c185d590],
.mid_game .two_column[data-v-c185d590] {
    box-sizing: border-box;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between
}

.mid_game .three_column .game_item[data-v-c185d590],
.mid_game .two_column .game_item[data-v-c185d590] {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 1rem;
    margin-bottom: 1rem
}

.mid_game .three_column .game_item img[data-v-c185d590],
.mid_game .two_column .game_item img[data-v-c185d590] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.mid_game .two_column[data-v-c185d590] {
    box-sizing: border-box;
    padding: .75rem 0
}

.mid_game .two_column .left_big img[data-v-c185d590] {
    display: block;
    width: 11.55rem;
    height: 11.55rem;
    border-radius: 2rem;
    border: 1px solid #fff
}

.mid_game .two_column>.game_item[data-v-c185d590] {
    display: flex;
    height: 11.25rem;
    flex-direction: column;
    justify-content: space-between
}

.mid_game .two_column>.game_item img[data-v-c185d590] {
    display: block;
    width: 4.875rem;
    height: 4.875rem
}

.game_item span[data-v-c185d590],
.left_big span[data-v-c185d590] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.over_game[data-v-c185d590] {
    display: flex;
    flex-direction: column
}

.over_game span[data-v-c185d590] {
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.detail[data-v-4595a555] {
    width: 100%
}

.similar_game[data-v-4595a555] {
    box-sizing: border-box
}

.similar_game .similar_list[data-v-4595a555] {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 4.875rem);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem
}

.similar_game .similar_list .sim_game_item[data-v-4595a555] {
    border-radius: 1rem;
    box-sizing: border-box;
    width: 4.875rem;
    height: 4.875rem;
    margin-bottom: .5rem
}

.similar_game .similar_list .sim_game_item>a>img[data-v-4595a555] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.similar_game .similar_list .sim_game_item>a>span[data-v-4595a555] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.similar_game .similar_list .t_in_i_game_item[data-v-4595a555] {
    box-sizing: border-box;
    width: 5.25rem;
    height: 5.25rem;
    position: relative
}

.similar_game .similar_list .t_in_i_game_item>a>img[data-v-4595a555] {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%
}

.similar_game .similar_list .t_in_i_game_item>a>span[data-v-4595a555] {
    display: inline-block;
    font-size: .6rem;
    width: 100%;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: -2px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 0 0 5px 5px;
    padding: 4px 0
}

.bottom .five[data-v-a366fa06] {
    box-sizing: border-box;
    padding: .5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden
}

.bottom .five .three_box[data-v-a366fa06],
.bottom .five .two_box[data-v-a366fa06] {
    height: 4.875rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem
}

.bottom .five .three_box .game_item[data-v-a366fa06],
.bottom .five .two_box .game_item[data-v-a366fa06] {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 1rem
}

.bottom .five .three_box .game_item img[data-v-a366fa06],
.bottom .five .two_box .game_item img[data-v-a366fa06] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.bottom .five .two_box[data-v-a366fa06] {
    height: 8rem;
    margin: 1.25rem 0 .25rem 0
}

.bottom .five .two_box .game_item[data-v-a366fa06] {
    width: 8rem;
    height: 8rem
}

.bottom .five .two_box .game_item img[data-v-a366fa06] {
    border-radius: 1rem
}

.game_item span[data-v-a366fa06] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.title[data-v-a366fa06] {
    margin: 5px;
    font-weight: 900;
    font-size: .85rem;
    overflow: hidden
}

.title>a[data-v-a366fa06] {
    width: unset;
    float: right
}

.title>span[data-v-a366fa06] {
    float: left;
    margin-right: 5px;
    margin-top: 2px
}

.detail[data-v-fde2e9a8] {
    width: 100%
}

.similar_game[data-v-fde2e9a8] {
    box-sizing: border-box;
    margin-top: 1rem
}

.similar_game .similar_list[data-v-fde2e9a8] {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 4.875rem);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem
}

.similar_game .similar_list .icon_cate[data-v-fde2e9a8] {
    grid-column: 1/span 2;
    display: flex;
    align-items: center;
    border-radius: .5125rem;
    box-shadow: 0 .1875rem .5rem 0 rgba(31, 31, 31, .4);
    background-color: rgba(51, 51, 51, .2);
    padding-bottom: 0;
    text-decoration: none;
    border: 3px solid #fff
}

.similar_game .similar_list .icon_cate .icon[data-v-fde2e9a8] {
    width: 4.875rem;
    height: 4.875rem;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px
}

.similar_game .similar_list .icon_cate .cate[data-v-fde2e9a8] {
    flex: 1;
    text-align: center;
    font-size: 1rem
}

.similar_game .similar_list .sim_game_item[data-v-fde2e9a8] {
    border-radius: 1rem;
    box-sizing: border-box;
    width: 4.875rem;
    height: 4.875rem;
    margin-bottom: .5rem
}

.similar_game .similar_list .sim_game_item img[data-v-fde2e9a8] {
    width: 4.875rem;
    height: 4.875rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.similar_game .similar_list .sim_game_item span[data-v-fde2e9a8] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.detail[data-v-3dce441b] {
    width: 100%
}

.similar_game[data-v-3dce441b] {
    box-sizing: border-box
}

.similar_game .similar_list[data-v-3dce441b] {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 5.729rem);
    grid-column-gap: .4rem;
    grid-row-gap: 1.5rem
}

.similar_game .similar_list .sim_game_item[data-v-3dce441b] {
    border-radius: .2rem;
    box-sizing: border-box;
    width: 5.729rem;
    height: 7.729rem;
    margin-bottom: .5rem;
    position: relative
}

.similar_game .similar_list .sim_game_item>a>img[data-v-3dce441b] {
    width: 3.729rem;
    height: 3.729rem;
    display: block;
    margin: -.8rem auto 0;
    border: 1px solid #fff;
    border-radius: .7rem
}

.similar_game .similar_list .sim_game_item>a>.name[data-v-3dce441b] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.similar_game .similar_list .sim_game_item>a[data-v-3dce441b] {
    text-decoration: none;
    height: auto
}

.similar_game .similar_list .sim_game_item>a>.desc[data-v-3dce441b] {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: .5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 2px
}

.similar_game .similar_list .play[data-v-3dce441b] {
    text-align: center;
    box-sizing: border-box;
    padding: .5rem 0;
    position: absolute;
    bottom: -2px;
    width: 100%
}

.similar_game .similar_list .play>a[data-v-3dce441b] {
    width: 50%;
    text-decoration: none;
    box-sizing: border-box;
    padding: 3px .5rem 5px;
    text-align: center;
    border-radius: 1rem;
    margin: 0 auto;
    border: .5px solid #fff
}

.desc[data-v-0ca24819] {
    position: relative;
    color: var(--font-color-blank);
    padding-bottom: 0;
    background: var(--bgc-color-white);
    padding: 1rem 1.333rem
}

.desc .floder[data-v-0ca24819] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .853rem;
    font-weight: 700;
    margin-bottom: 1.493rem
}

.desc .floder>img[data-v-0ca24819] {
    display: block;
    width: 1.333rem;
    height: 1.333rem
}

.desc>span[data-v-0ca24819] {
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
    font-size: .8rem;
    font-size: 11px
}

.desc>div[data-v-0ca24819] {
    text-align: right
}

.desc .more[data-v-0ca24819] {
    -webkit-line-clamp: 99999 !important
}

.title[data-v-0ca24819] {
    display: block;
    font-size: .853rem;
    font-weight: 700;
    margin-bottom: 1.493rem;
    margin: .6rem 0
}

.top_game[data-v-496f285c] {
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    padding-bottom: 2rem;
    padding-top: .5rem;
    grid-column-gap: 1.31rem;
    grid-row-gap: 2rem
}

.top_game .game_item[data-v-496f285c] {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    border: 1px solid #fff
}

.top_game .game_item img[data-v-496f285c] {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.top_game .game_item span[data-v-496f285c] {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: .7rem;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.game_info[data-v-097faac7] {
    width: 100%;
    display: flex;
    margin-top: 1rem
}

.game_info a[data-v-097faac7] {
    width: unset;
    text-decoration: none
}

.game_info img[data-v-097faac7] {
    display: block;
    width: 3.875rem;
    height: 3.875rem;
    border-radius: 1rem;
    margin-right: .5rem
}

.game_info .name_info[data-v-097faac7] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Microsoft YaHei, 微软雅黑;
    font-size: .7rem;
    width: 50%
}

.game_info .name_info .players[data-v-097faac7] {
    margin: .3rem 0
}

.game_info .name_info .my_star[data-v-097faac7] {
    font-size: 1rem;
    display: flex
}

.game_info .name_info .name[data-v-097faac7] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.play_btn[data-v-097faac7] {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    background: linear-gradient(135deg,#17ead9,#6078ea);
    border-radius: .75rem
}

.footer_1[data-v-3f9b7f6b] {
    display: flex;
    flex-direction: column;
    font-size: .7rem
}

.footer_1 .cop[data-v-3f9b7f6b] {
    text-align: center
}

.footer[data-v-3f9b7f6b] {
    height: 2rem;
    display: flex;
    justify-content: center;
    line-height: 2rem
}

.footer>div[data-v-3f9b7f6b] {
    margin: 0 .5rem
}

.footer a[data-v-3f9b7f6b] {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #fff;
}

.back_top[data-v-aadb60d4] {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    align-items: center;
    justify-content: center;
    right: .8rem;
    bottom: 5.867rem;
    z-index: 9999;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: 900
}

.default_back_top[data-v-aadb60d4] {
    background-color: #007eff
}

.back_top_1[data-v-aadb60d4],
.back_top_4[data-v-aadb60d4],
.back_top_5[data-v-aadb60d4],
.back_top_7[data-v-aadb60d4] {
    background-color: #fff
}

.back_top_4[data-v-aadb60d4],
.back_top_5[data-v-aadb60d4],
.back_top_7[data-v-aadb60d4] {
    line-height: 60px
}

.back_top_3[data-v-aadb60d4] {
    color: #fff
}

.six_game[data-v-05ea4fc9] {
    width: 100%;
    overflow: hidden
}

.similar_game[data-v-05ea4fc9] {
    box-sizing: border-box
}

.similar_game .similar_list[data-v-05ea4fc9] {
    padding: .5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 5.333rem);
    grid-column-gap: 1rem;
    grid-row-gap: .8rem
}

.similar_game .similar_list .t_in_i_game_item[data-v-05ea4fc9] {
    box-sizing: border-box;
    width: 5.333rem;
    height: 5.333rem;
    position: relative
}

.similar_game .similar_list .t_in_i_game_item>a>img[data-v-05ea4fc9] {
    border-radius: .373rem;
    display: block;
    width: 100%;
    height: 100%
}

.similar_game .similar_list .t_in_i_game_item>.a[data-v-05ea4fc9] {
    position: absolute;
    border-radius: .373rem;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .9))
}

.similar_game .similar_list .t_in_i_game_item>.a>span[data-v-05ea4fc9] {
    width: 100%;
    font-size: .693rem;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 10px;
    padding: 0 .533rem;
    color: #fff;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.detail[data-v-c88cd78e] {
    width: 100%
}

.similar_game[data-v-c88cd78e] {
    box-sizing: border-box
}

.similar_game .similar_list[data-v-c88cd78e] {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - .25rem));
    grid-column-gap: .5rem;
    grid-row-gap: 1.5rem
}

.similar_game .similar_list .sim_game_item[data-v-c88cd78e] {
    border-radius: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 3.875rem;
    display: flex;
    flex-direction: column
}

.similar_game .similar_list .sim_game_item .desc>span[data-v-c88cd78e] {
    margin-left: .25rem;
    font-size: .4rem;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    text-overflow: ellipsis
}

.similar_game .similar_list .sim_game_item>a[data-v-c88cd78e] {
    display: flex;
    text-decoration: none
}

.similar_game .similar_list .sim_game_item>a>img[data-v-c88cd78e] {
    width: 3.875rem;
    height: 3.875rem;
    display: block;
    border-radius: 1rem;
    border: 1px solid #fff
}

.similar_game .similar_list .sim_game_item>a>span[data-v-c88cd78e] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: left;
    margin-top: .75rem;
    box-sizing: border-box;
    padding-left: .25rem;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.similar_game .similar_list .t_in_i_game_item[data-v-c88cd78e] {
    box-sizing: border-box;
    width: 5.25rem;
    height: 5.25rem;
    position: relative
}

.similar_game .similar_list .t_in_i_game_item>a>img[data-v-c88cd78e] {
    border-radius: 5px 5px 0 0;
    border-radius: 5px;
    width: 5.25rem;
    height: 5.25rem;
    display: block;
    width: 100%;
    height: 100%
}

.similar_game .similar_list .t_in_i_game_item>a>span[data-v-c88cd78e] {
    display: inline-block;
    font-size: .6rem;
    width: 100%;
    text-align: center;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: -2px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 0 0 5px 5px;
    padding: 4px 0
}

.s_m_link[data-v-7a456528] {
    display: flex;
    justify-content: center
}

.s_m_link a[data-v-7a456528] {
    width: 4rem;
    text-align: center
}

.loadingWrap[data-v-7e327750] {
    position: fixed;
    top: 45%;
    left: 47%
}

.loadingWrap .van-popup[data-v-7e327750] {
    background-color: rgba(0, 0, 0, .7)
}

div[data-v-3262aed0] {
    padding: 5px 20px;
    color: #fff;
    background-color: #3a3a3a;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    font-size: 14px
}

.fade-enter-active[data-v-3262aed0],
.fade-leave-active[data-v-3262aed0] {
    transition: opacity .5s
}

.fade-enter[data-v-3262aed0],
.fade-leave-to[data-v-3262aed0] {
    opacity: 0
}