.custom-indicator[data-v-5efab86a] {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 2px 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, .1)
}

.info_filter[data-v-5efab86a] {
    width: 100%;
    height: 10rem;
    position: relative;
    border-radius: 6px;
    overflow: hidden
}

.info_filter>img[data-v-5efab86a] {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 12rem;
    background-color: rgba(0, 0, 0, .3);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(20px)
}

.info_filter .game_item[data-v-5efab86a] {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: .75rem;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem
}

.info_filter .game_item img[data-v-5efab86a] {
    display: block;
    width: 4.875rem;
    height: 4.875rem;
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    border: 1px solid #fff
}

.info_filter .game_item span[data-v-5efab86a] {
    display: block;
    margin-top: 1.9rem
}

.vant_indicator .van-swipe__indicators>i[data-v-5efab86a] {
    width: 1.5894039735rem !important;
    border-radius: 0;
    height: 4px
}

.van-swipe[data-v-bc435a38] {
    border-radius: .533rem
}

.van-swipe-item[data-v-bc435a38] {
    background-color: #fff;
    border-radius: 10px
}

.van-swipe-item>span[data-v-bc435a38] {
    font-size: 16px;
    color: #080808;
    display: block;
    height: 2.347rem;
    line-height: 2.347rem;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    text-indent: .533rem
}

.custom-indicator[data-v-bc435a38] {
    position: absolute;
    right: calc(50% - 2.25rem);
    top: calc(9.3rem - 5px);
    font-size: 12px;
    background: rgba(0, 0, 0, .1);
    width: 4.5rem;
    text-align: center;
    border-radius: 10px;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.custom-indicator>span[data-v-bc435a38] {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    margin: 0 .2rem;
    margin-bottom: 1px;
    background: #ababab;
    opacity: .3
}

.custom-indicator .light[data-v-bc435a38] {
    background-color: #fff;
    opacity: 1
}

.info_filter[data-v-bc435a38] {
    width: 100%;
    height: 10rem;
    position: relative;
    overflow: hidden
}

.info_filter>img[data-v-bc435a38] {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 10rem;
    height: 100%;
    border-radius: 10px 10px 0 0;
    -moz-filter: blur(5px);
    -ms-filter: blur(5px)
}

.swip_g[data-v-13704530] {
    width: 120%;
    overflow-x: auto
}

.swip_g[data-v-13704530]::-webkit-scrollbar {
    height: 0
}

.swip_g[data-v-13704530]::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

.swip_g[data-v-13704530]::-webkit-scrollbar-thumb {
    background-color: #888
}

.swip_g[data-v-13704530]::-webkit-scrollbar-thumb:hover {
    background-color: #555
}

.swip_r_six[data-v-13704530] {
    width: 46rem;
    padding-bottom: 2rem;
    overflow-y: hidden
}

.swip_r_six .s_item[data-v-13704530] {
    width: 6.4rem;
    height: 9.333rem;
    float: left;
    margin-right: .8rem;
    position: relative
}

.swip_r_six .s_item>a>img[data-v-13704530] {
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.swip_r_six .s_item .a[data-v-13704530] {
    position: absolute;
    border-radius: .8rem;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .7))
}

.swip_r_six .s_item>.a>span[data-v-13704530] {
    width: 100%;
    font-size: .693rem;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 0 .533rem;
    color: #fff;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.swip_g[data-v-594bda41] {
    width: 120%;
    overflow-x: auto
}

.swip_g[data-v-594bda41]::-webkit-scrollbar {
    height: 0
}

.swip_g[data-v-594bda41]::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

.swip_g[data-v-594bda41]::-webkit-scrollbar-thumb {
    background-color: #888
}

.swip_g[data-v-594bda41]::-webkit-scrollbar-thumb:hover {
    background-color: #555
}

.swip_r_six[data-v-594bda41] {
    width: 55.6rem;
    padding-bottom: 2rem;
    overflow-y: hidden
}

.swip_r_six .s_item[data-v-594bda41] {
    width: 8rem;
    height: 8rem;
    float: left;
    margin-right: .8rem;
    position: relative
}

.swip_r_six .s_item>a>img[data-v-594bda41] {
    width: 100%;
    height: 100%;
    border-radius: .75rem
}

.swip_r_six .s_item .a[data-v-594bda41] {
    position: absolute;
    border-radius: .8rem;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .7))
}

.swip_r_six .s_item>.a>span[data-v-594bda41] {
    width: 100%;
    font-size: .693rem;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 0 .533rem;
    color: #fff;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.home[data-v-362b6a26] {
    box-sizing: border-box;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding: 4.25rem 1rem .5rem
}

.home .mid_content[data-v-362b6a26] {
    box-sizing: border-box;
    min-height: 95%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column
}

.home .game_show_box[data-v-362b6a26] {
    margin: 0 auto;
    padding-top: 1.1rem
}

.home .game_show_box>div[data-v-362b6a26] {
    text-align: center;
    font-size: .5rem
}

.cotegory_1[data-v-5f31dc54] {
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - .28rem));
    grid-row-gap: .5rem;
    grid-column-gap: .5rem
}

.cotegory_1>a[data-v-5f31dc54] {
    height: 2.077294686rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #000;
    background: #f7f7f7;
    border: 1px solid #797979;
    border-radius: 8px;
    box-sizing: border-box;
    padding-right: 0;
    padding: 5px
}

.cotegory_1>a>span[data-v-5f31dc54] {
    margin-left: .5rem;
    font-size: .8695652174rem
}

.cotegory_1>a[data-v-5f31dc54]:active {
    transform: translateY(1px)
}

.most_1>h4[data-v-71228a5b] {
    display: flex;
    align-items: center;
    padding: .2415458937rem 0;
    width: 50%;
    border-radius: .2rem;
    position: relative;
    overflow: hidden
}

.most_1>h4>span[data-v-71228a5b] {
    margin-left: .3rem;
    margin-right: .3rem
}

.most_1>h4>i[data-v-71228a5b] {
    position: absolute;
    width: 10px;
    height: 155px;
    left: 30%;
    top: -50px;
    background: #fff;
    opacity: .3;
    transform: rotate(35deg);
    z-index: 2;
    -webkit-animation: flickerAnimationFrame-data-v-71228a5b 2s ease-in infinite;
    animation: flickerAnimationFrame-data-v-71228a5b 2s ease-in infinite
}

@-webkit-keyframes flickerAnimationFrame-data-v-71228a5b {
    0% {
        left: -30%;
        top: -50px
    }
    70% {
        left: -30%;
        top: -30px
    }
    to {
        left: 100%;
        top: -30px
    }
}

@keyframes flickerAnimationFrame-data-v-71228a5b {
    0% {
        left: -30%;
        top: -50px
    }
    70% {
        left: -30%;
        top: -30px
    }
    to {
        left: 100%;
        top: -30px
    }
}

.similar_list[data-v-71228a5b] {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 4.875rem);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding-top: 0
}

.similar_list .sim_game_item[data-v-71228a5b] {
    border-radius: 1rem;
    box-sizing: border-box;
    width: 4.875rem;
    height: 4.875rem;
    margin-bottom: .5rem
}

.similar_list .sim_game_item>a>img[data-v-71228a5b] {
    width: 4.875rem;
    height: 4.875rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #fff
}

.similar_list .sim_game_item>a>span[data-v-71228a5b] {
    display: inline-block;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    -webkit-text-emphasis: inherit;
    text-emphasis: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.home[data-v-a39292de] {
    width: 100%;
    padding: 4.25rem 1rem .5rem
}

.home .mid_content[data-v-a39292de],
.home[data-v-a39292de] {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden
}

.home .mid_content[data-v-a39292de] {
    padding-bottom: 2rem;
    min-height: 95%;
    display: flex;
    flex-direction: column
}

.home .game_show_box[data-v-a39292de] {
    margin: 0 auto
}

.home .game_show_box>div[data-v-a39292de] {
    text-align: center;
    font-size: .5rem
}

.home_footer_ad[data-v-1ee52092] {
    width: 100%;
    max-width: 800px;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #fff
}

.game_bottom_ad[data-v-1ee52092] {
    width: 100%;
    height: 50px;
    margin: 0 auto
}

.game_show_box[data-v-1ee52092] {
    margin: 0 auto
}

.game_show_box>div[data-v-1ee52092] {
    text-align: center;
    font-size: .5rem
}

:root {
    --font-color-blank: #fff;
    --font-color-white: #fff;
    --font-family:
    "Poppins", sans-serif;
    --body-bgc-color: linear-gradient(180deg, #a8ffff, #feffd9);
    --bgc-color-white: #42a5f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent
}

.tr {
    border-bottom: 1px solid #000
}

body,
html {
    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
    min-height: 53.333rem;
    font-family: var(--font-family);
    color: var(--font-color-blank)
}

#app,
body,
html {
    width: 100%;
    -webkit-overflow-scrolling: touch
}

#app {
    height: 100%;
    font-size: 16px
}

a {
    text-decoration: none;
    color: var(--font-color-blank);
    display: block
}

a,
a .game_icon {
    width: 100%;
    height: 100%
}

.van-swipe__indicators>i {
    width: 1.5894039735rem !important;
    border-radius: 0;
    height: 4px
}